<html>
<body>
<table style="width:100%;">
<tr >
	<td width="60%" rowspan=2>
		<span style="vertical-align: middle;">
		Kuchaman Defence Academy
		<br>Gaytri Nagar,Jusari-Makrana Road,Megha Highway>
		<br>Kuchaman City(341508)
		<br>Nagaur(Rajasthan)
		<br>Cont.No- 9649656599, 9887373477, 9672601061, 9587590650
		<br>E-Mail-kuchamandefence@gmail.com, kuchamandefence@yahoo.com
	</span>
	</td>	
	<td width="40%" align="right"><img src=$logoURL ></td>
</tr>
<tr>
	<td colspan=2 align="right"><b>Registration No</b>- 09/NAGAUR/2011-2012</td>
</tr>
</table>
<div class="clear-all"/>
<div style="padding-bottom:10px;">--------------------------------------------------------------------------------------------------------------------------</div>​​​​​


<p><b>Name</b>:$user.firstName &nbsp; $user.middleName &nbsp; $user.lastName / $user.fatherName</p>
</p><b>Total Fees</b>: $user.studentFees </p>
<p/>
<table border=1>
<tr>
	<th>InstallmentNo</th>
	<th>Date</th>	
	<th>Payment Received</th>
	<th>Additional Payment</th>
	<th>Total Amount</th>	
</tr>

#if ($paymentList.size() > 0)
			#set ($rowNumber = 1)
			#set ($grandTotal = 0)
			#foreach( $fees in $paymentList )
			#set ($total = $fees.paidFees + $fees.additionCharges)
			<tr>
				<td>$rowNumber</td>
				<td>$date.format('dd-MMM-yyyy', $fees.updatedOn)</td>
				<td>$fees.paidFees</td>
				<td>$fees.additionCharges</td>
				<td>$total</td>
			</tr>
			#set ($grandTotal = $grandTotal + $total)
			#set ($total=0)
			#set($rowNumber = $rowNumber +1)
			#end
			<tr>	
				<td colspan="4" align="right"><B>GrandTotal</b></td>
				<td >$grandTotal</td>
			</tr>
#else
			<tr><td colspan="5" align="center"><b>no Fee record</b></td></tr>
#end
</table>
<p><b>Total Fees</b>: $user.studentFees &nbsp; <b>Total Expenses</b>:$compoundFees.totalExpenses &nbsp; <b>Pending Amount</b>:$compoundFees.totalPendingFees</p>
</body>
</html>